<div id="menu">
    <div class="container">
        <div class="header-title">
            <a href="/">Pr<i class="fas fa-ghost"></i>ject Manager</a>
        </div>
        <div class="header-menu float-right">
            <a href="https://github.com/CASPER-REPSAC/project-manager/issues" target="_blank"><button type="button" class="btn btn-info"><i class="fab fa-github fa-lg"></i> Bug Report</button></a>
            <!-- <div class="dark-mode float-right"><label class="switch">
                <input type="checkbox" <%= require.check ? "checked" : "" %>>
                <span class="slider round"></span>
            </label></div> -->
            <% if(!require.is_login){ %>
                <a href="/login"><button type="button" class="btn btn-secondary"><i class="fab fa-google"></i> Login</button></a>
            <% } else { %>
                <% if(user_auth == "guest") { %><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal-1">Auth</button> <% } %>
                <!-- <a href="/profile"><button type="button" class="btn btn-secondary"><i class="far fa-address-card fa-lg"></i> Profile</button></a> -->
                <button type="button" class="btn btn-danger feed <% if(feed == '1') { %> active <% } %>"><i class="fas fa-rss-square fa-lg"></i></button>
                <a href="/write"><button type="button" class="btn btn-secondary">Write</button></a>
                <a href="/logout"><button type="button" class="btn btn-secondary">Logout</button></a>

                <% if(user_auth == "guest") { %>
                    <div class="modal fade" id="exampleModal-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">인증하기</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                권한 상승을 위해 토큰 값을 입력해 주세요.
                                <input type="text" class="form-control" placeholder="Input token." name="auth-token">
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary btn-auth">submit</button>
                            </div>
                        </div>
                        </div>
                    </div>
                <% } %>
            <% } %>
        </div>
        <div class="header-img">
            <div class="content">
                <h1>Pr<i class="fas fa-ghost"></i>ject Manager</h1>
                <h5>For Casper</h5>
            </div>
            <div class="img-cover"></div>
        </div>
    </div>
</div>