<html>
    <head>
        <title>404</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
        <link rel="stylesheet" href="/css/404.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="main">
            <div class="404">4 <i class="fas fa-ghost"></i> 4</div>
            <div class="content">Page Not Found</div>    
        </div>
    </body>
</html>