<html web-theme="<%=web_theme %>">
    <head>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">

        <!-- custom css -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/darkwhite.css">
        <link rel="stylesheet" href="/css/bootstrap-custom.css">
        <!-- ---------- -->

    </head>
    <body>
        <div id="header">
            
        </div>
        <div id="menu">
            <div class="dark-mode float-right">
                <label class="switch">
                    <input type="checkbox" <%= check ? "checked" : "" %>>
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <div id="contents">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="project-box">
                            <h1>popular</h1>
                            <div class="project-list">
                                <span class="project-title"><a href="#">인공지능에 대하여</a></span>
                                <span class="project-writer">김종민</span>
                                <span class="project-date">2021.02.03</span>
                            </div>
                            <hr>

                            <div class="project-list">
                                <span class="project-title"><a href="#">인공지능에 대하여</a></span>
                                <span class="project-writer">김종민</span>
                                <span class="project-date">2021.02.03</span>
                            </div>
                            <hr>

                            <div class="project-list">
                                <span class="project-title"><a href="#">인공지능에 대하여</a></span>
                                <span class="project-writer">김종민</span>
                                <span class="project-date">2021.02.03</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="project-box">
                            <h1>recent comment</h1>
                            <div class="project-list">
                                <span class="project-title"><a href="#">인공지능에 대하여</a></span>
                                <span class="project-writer">김종민</span>
                                <span class="project-date">2021.02.03</span>
                            </div>
                            <hr>

                            <div class="project-list">
                                <span class="project-title"><a href="#">인공지능에 대하여</a></span>
                                <span class="project-writer">김종민</span>
                                <span class="project-date">2021.02.03</span>
                            </div>
                            <hr>

                            <div class="project-list">
                                <span class="project-title"><a href="#">인공지능에 대하여</a></span>
                                <span class="project-writer">김종민</span>
                                <span class="project-date">2021.02.03</span>
                            </div>
                        </div>
                        <div class="project-box">
                            <h1>recent Q&A</h1>
                            <div class="project-list">
                                <span class="project-title"><a href="#">인공지능에 대하여</a></span>
                                <span class="project-writer">김종민</span>
                                <span class="project-date">2021.02.03</span>
                            </div>
                            <hr>

                            <div class="project-list">
                                <span class="project-title"><a href="#">인공지능에 대하여</a></span>
                                <span class="project-writer">김종민</span>
                                <span class="project-date">2021.02.03</span>
                            </div>
                            <hr>

                            <div class="project-list">
                                <span class="project-title"><a href="#">인공지능에 대하여</a></span>
                                <span class="project-writer">김종민</span>
                                <span class="project-date">2021.02.03</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="project-box">
                            <h1>2021</h1>
                            <div class="project-list">
                                <span class="project-title"><a href="#">인공지능에 대하여</a></span>
                                <span class="project-writer">김종민</span>
                                <span class="project-date">2021.02.03</span>
                            </div>
                            <hr>

                            <div class="project-list">
                                <span class="project-title"><a href="#">인공지능에 대하여</a></span>
                                <span class="project-writer">김종민</span>
                                <span class="project-date">2021.02.03</span>
                            </div>
                            <hr>
                            
                            <h1>2021</h1>
                            <div class="project-list">
                                <span class="project-title"><a href="#">인공지능에 대하여</a></span>
                                <span class="project-writer">김종민</span>
                                <span class="project-date">2021.02.03</span>
                            </div>
                            <hr>

                            <div class="project-list">
                                <span class="project-title"><a href="#">인공지능에 대하여</a></span>
                                <span class="project-writer">김종민</span>
                                <span class="project-date">2021.02.03</span>
                            </div>
                            <hr>
                            
                            <div class="project-list">
                                <span class="project-title"><a href="#">인공지능에 대하여</a></span>
                                <span class="project-writer">김종민</span>
                                <span class="project-date">2021.02.03</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/js/darkmode.js"></script>
    </body>
</html>