<html web-theme="<%=require.web_theme %>">
    <head>
        <title>
            Project Manager
        </title>
        <%- include("./fragment/head.ejs") %>

        <!-- custom css -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/darkwhite.css">
        <link rel="stylesheet" href="/css/bootstrap-custom.css">
        <!-- ---------- -->
    </head>
    <body>
        <%- include("./fragment/header.ejs") %>
        <div id="contents">
            <div class="container">
                <div class="row project">
                    <!-- project content -->
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-sm-6"></div>
                    <div class="col-xl-4 col-lg-4 col-sm-6 d-flex justify-content-center">
                        <button type="button" class="btn btn-secondary load-more-btn">Load More Posts &nbsp;&nbsp;<i class="fas fa-arrow-down"></i></button>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-sm-6"></div>
                </div>
            </div>
        </div>
        <%- include("./fragment/footer.ejs") -%>

        <script src="/js/darkmode.js"></script>
        <script src="/js/auth.js"></script>
        <script src="/js/feed.js"></script>
        <script src="/js/HTML.js"></script>
        <script src="/js/api/index.js"></script>
    </body>
</html>