.write-box{
    border: 1px solid var(--borderColor);
    border-radius : 10px;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 15%);

    padding: 20px;
    margin-bottom: 20px;
    padding: 50px;

    color: var(--fontColor);
}
.write-form-input, .write-form-textarea{
    background-color: var(--writeFormInput);
    border: 1px solid var(--writeFormInputBorder);
    color: var(--fontColor);
}
.write-form-input:focus{
    background-color: var(--writeFormInput);
    border: 1px solid var(--writeFormInputBorder);
    color: var(--fontColor);
}
.write-form-textarea{
    width: 100%;
    height: 200px;
    padding: 10px;
}

/* 대댓글이 댓글의 오른쪽에 위치하도록 설정 */
.reply-comment {
    margin-left: 20px;  /* 댓글과의 간격을 추가 */
}

/* 댓글과 대댓글 사이의 간격을 추가 */
.comment-info {
    margin-bottom: 10px;  /* 댓글 간격 설정 */
}