body{
    background-color: #0d1117;
    /* background-color: #2f374a; */
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
hr{
    border: 1px solid;
    margin-top: 25px;
}

/* header css */
#header{
    height: 200px;
}
/**************/


/* menu css */
#menu{
    margin-right: 20px;
}
/************/


/* contents css */
#contents{
    margin-top: 70px;
}


.project-box{
    border: 1px solid #30363d;
    width: 520px;
    height: auto;
    border-radius : 10px;

    padding: 20px 20px;
    margin-bottom: 20px;
}
.project-box > h1{
    color: #c9d1d9;
    margin-bottom: 50px;
    text-align: center;
}


.project-title{
    display:inline-block;
    font-size: 20px;
    width: 320px;
}
.project-writer{
    display: inline-block;
    width: 70px;

    color: #8b949e;
}
.project-date{
    color: #8b949e;
}
/************/