.contents-box{
    border: 1px solid var(--borderColor);
    border-radius : 10px;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 15%);

    padding: 20px;
    margin-bottom: 20px;
}

.project-title, .project-subtitle{
    font-family: 'Do Hyeon', sans-serif;
    color: var(--h1Color);
}

.project-content{
    margin-top: 70px;
    word-break:break-all;
}

.project-section-title > h3,  .project-section-info, .project-opinion, .comments > span{
    font-family: 'Nanum Gothic', sans-serif;
    color: var(--h1Color);
}

.project-opinion-contents{
    margin-left: 30px;
}

.project-tag{
    margin: 10px 0px;
}

.contents-box{
    color: var(--fontColor);
}


#pdf-main-container{
    display: inline-block;
}
.pdf-to-image-canvas{
    border: 1px solid black;
}
.pdf-to-image-canvas2{
    width: 100%;
}

.input-comment-box{
    margin-top: 20px;
}
.comment-writer-image{
    position: relative;
    text-align: center;

    left: 30px;
    top: 5px;
}
.comment-writer-image > img{
    border-radius: 50px;
    width: 60px;
}
.comment-info{
    background-color: var(--commentInfoBox);
    color: var(--fontColor);
    padding: 20px;
    border-radius: 30px;

    width: 100%;
}
.comment-writer{
    font-weight: bold;
    margin-bottom: 50px;
}
.comment-reply{
    color: #0056b3;
    font-weight: bold;
    cursor:pointer
}

.like-unlike{
    text-align : center;
    font-size: 25px;
    color: var(--likeColor);
}

.fa-chevron-up, .fa-chevron-down{
    cursor: pointer;
}

.modal-body-btn{
    margin-top: 20px;
}

.comment-option{
    cursor: pointer;
}
.comment-option:hover{
    color: #0056b3;
}