:root[web-theme='light']{
    --bgColor: white;
    --fontColor: black;
    --borderColor: #e1e4e8;
    --h1Color: black;
    --infoColor: #586069;

    --filterBtnColor: #f3f4f6;
    --filterBtnFont: #24292e;

    --headerFont: black;

    --writeFormInput: white;
    --writeFormInputBorder: #e1e4e8;
    --writeFormInputFocus: black;
    --writeFormDateIcon: 0;

    --commentInfoBox: #e8eaec;

    --likeColor: #6a737c;
}
:root[web-theme='dark']{
    --bgColor: #0d1117; /* #16151f */
    --fontColor: #c9d1d9;
    --borderColor: #30363d;
    --h1Color: #c9d1d9;
    --infoColor: #8b949e;

    --filterBtnColor: #21262d;
    --filterBtnFont: white;

    --headerFont: white;

    --writeFormInput: #0d1117;
    --writeFormInputBorder: #21262d;
    --writeFormInputFocus: #006aff;
    --writeFormDateIcon: 1;

    --commentInfoBox: #161b22;

    --likeColor: #8b949e;
}
* { transition: background-color 1s, color 0.1s, border 0.5s; }




body{ 
    background-color: var(--bgColor);
}
a{ text-decoration: none; }
a:hover{ text-decoration: none; }
hr{
    border: 1px solid;
    margin-top: 25px;
}